<div id="holderOfPageDisplay">
    <h1>Burger Time!</h1>
    <img src="../../public/assets/burgerPic" alt="burger picture" id="burgerPic">
    <h2>Ready to be Devoured...</h2>

    <ul>
        <li>
            {{#each burgers}} {{this.id}}. {{this.burger}}
            <button data-id="{{this.id}}" id="devour">Devour</button>
            {{/each}}
        </li>
    </ul>

    <h2>Too Late...Devoured!</h2>

    <ul>
        {{#each burgers}} {{#if this.devoured}} {{this.id}}. {{this.burger}} {{/if}} {{/each}}
    </ul>

    <h2>Add a Burger</h2>
    <form class="create-form">
        <div class="form-group">
            <label for="burger">Add a Burger:</label>
            <input type="text" id="burger" name="burger">
        </div>
        <button id="submit" type="submit">Submit</button>
    </form>
</div>